Nav {
    position: sticky;
    top: 0;
    animation: adjust-header 20s ease-in both;
    animation-timeline: scroll();
    animation-range: 0 100px;
}

@keyframes adjust-header {

    to {
        background: rgba(33, 33, 33, 1);
        font-size: 12px;
        height: inherit;
        border-radius: 0;


    }

}