nav {
  animation: adjust-header 20s ease-in both;
  animation-timeline: scroll();
  animation-range: 0 80vh;
  /* animation-delay-start: 5s; */
}

@keyframes adjust-header {
  to {
    background: rgba(33, 33, 33, 1);
  }
}
