.gallery {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 60px;
    height: 160vh !important;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-auto-flow: dense;
}

.gallery .image-container {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    grid-row-start: span 2;
}

.gallery .image-container:first-child {
    grid-column-start: span 1;
    grid-row-start: span 9;
}

.gallery .image-container:nth-child(2) {
    grid-row-start: span 2;
}

.gallery .image-container:nth-child(3) {
    grid-row-start: span 2;
}

.gallery .image-container:nth-child(4) {
    grid-row-start: span 2;
}

.gallery .image-container:nth-child(5) {
    grid-column-start: span 2;
    grid-row-start: span 2;
}

.gallery .image-container:nth-child(6) {
    grid-row-start: span 2;
}

.gallery .image-container:nth-child(7) {
    grid-row-start: span 2;
}

.gallery .image-container:nth-child(8) {
    grid-row-start: span 2;
}

.gallery .image-container:nth-child(9) {
    grid-row-start: span 2;
}

.gallery .image-container:nth-child(10) {
    grid-row-start: span 3;
}

.gallery .image-container:nth-child(11) {
    grid-row-start: span 2;
}

.gallery .image-container:nth-child(12) {
    grid-row-start: span 2;
}

.gallery .image-container:nth-child(13) {
    grid-row-start: span 3;
}

.gallery .image-container:nth-child(14) {
    grid-column-start: span 2;
    grid-row-start: span 2;
}

.gallery .image-container:last-child {
    grid-row-start: span 3;
}

.gallery .image-container img {
    transition: 0.3s ease-in-out;
}

.gallery .image-container:hover img {
    transform: scale(1.1);
}

@media screen and (max-width: 850px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }

    .gallery .image-container:nth-child(10) {
        grid-row-start: span 4;
    }

    .gallery .image-container:nth-child(11) {
        grid-row-start: span 3;
    }

    .gallery .image-container:nth-child(13) {
        grid-row-start: span 2;
        grid-column-start: span 2;
    }

    .gallery .image-container:nth-child(14) {
        grid-row-start: span 2;
        grid-column-start: span 2;
    }

    .gallery .image-container:last-child {
        grid-row-start: span 4;
    }
}

@media screen and (max-width: 480px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
        padding: 20px;
    }

    .gallery .image-container:nth-child(6) {
        grid-row-start: span 3;
    }

    .gallery .image-container:nth-child(11) {
        grid-row-start: span 4;
    }

    .gallery .image-container:nth-child(14) {
        grid-row-start: span 4;
        grid-column-start: span 1;
    }

    
}
